<div class="page-header">
	<h1>Search Results</h1>
</div>


<h2>Artists</h2>

<ul>
	<% @artists.each do |artist| %>
		<li>
			<%= artist.name %>
		</li>
	<%end%>
</ul>

<h2>Titles</h2>
<ul>
	<% @titles.each do |title| %>
		<li>
			<%= title.title %>
		</li>
	<%end%>
</ul>

<h2>Locations</h2>

<ul>
	<% @locations.each do |location| %>
		<li>
			<%= location.name %>
		</li>
	<%end%>
</ul>