<div class="page-header">
  <h2>Concerts</h2>
</div>

<ul>
  <% @concerts.each do |concert| %>
      <li>
        <%= "#{concert.artist.name}, #{concert.date.to_date.to_formatted_s(:rfc822)}, #{concert.location.name}" %>
      </li>
  <% end %>
</ul>
