<div class="jumbotron">
  <p>
    <%= link_to 'http://studentsonrails.tumblr.com' do %>
      <%= image_tag("sor_banner.png", width: "100%") %></p>
    <% end %>
</div>

<div class="page-header">
  <h2>
  	<%= link_to "Locations", locations_path%>
  </h2>
  
</div>
