<h1> Who is listening to what? </h1>
<ul>
	<% @users.each do |f| %>
		<li> <%= "#{f.name} is listening to #{f.current_track.title} by #{f.current_track.artist.name}"%> </li>
	<% end %>
</ul>
<%= render partial: 'search' %>
