<div class="page-header">
  <h2>
    <%= @location.name %>
    <small><%= @location.city %></small>
  </h2>
</div>

<ul>
  <% @location.concerts.each do |concert| %>
      <li>
        <%= "#{concert.artist.name}, #{concert.date.to_date.to_formatted_s(:rfc822)}" %>
      </li>
  <% end %>
</ul>
